.idea/*
.DS_Store

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# editor settings
.idea
.vscode
_darcs

# output dir
output
instant_test_output
inference_test_output
work_dirs

# project dir
one_peace_vision/det/datasets
